/* Extra small devices (portrait phones, less than 576px) */
@media all and (max-width: 575.98px) { 
    /* titulo principal */
    #title {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        text-align: center;
        font-family: "ONEDAY";
        font-size: 38px;
        letter-spacing: 10px;
        margin-top: -60px;
    }
    #title span {
        background: -webkit-linear-gradient(white, #38495a);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    /* titulo principal */
    #title {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        /* color: #fff; */
        text-align: center;
        font-family: "ONEDAY";
        font-weight: 300;
        font-size: 70px;
        letter-spacing: 10px;
        margin-top: -60px;
        padding-left: 10px;
    }
    #title span {
        background: -webkit-linear-gradient(white, #38495a);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .home {
        width: 100%;
        height: 85vh;
         max-height: auto;
        background-position: center top;
        background-size: cover;
    }
}

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* titulo principal */
    #title {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        /* color: #fff; */
        text-align: center;
        font-family: "ONEDAY";
        font-weight: 300;
        font-size: 90px;
        letter-spacing: 10px;
        margin-top: -60px;
        padding-left: 10px;
    }
    #title span {
        background: -webkit-linear-gradient(white, #38495a);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

 /* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    /* titulo principal */
    #title {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        /* color: #fff; */
        text-align: center;
        font-family: "ONEDAY";
        font-weight: 300;
        font-size: 100px;
        letter-spacing: 10px;
        margin-top: -60px;
        padding-left: 10px;
    }
    #title span {
        background: -webkit-linear-gradient(white, #38495a);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    /* titulo principal */
    #title {
        position: absolute;
        top: 35%;
        left: 0;
        right: 0;
        /* color: #fff; */
        text-align: center;
        font-family: "ONEDAY";
        font-weight: 300;
        font-size: 120px;
        letter-spacing: 10px;
        margin-top: -60px;
        padding-left: 10px;
    }
    #title span {
        background: -webkit-linear-gradient(white, #38495a);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}
